body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

#header {
    margin-left: auto;
    margin-right: auto;
}

#header h1 {
    text-align: center;
}

#twitter {
    display:none;
}

#feed {

}

.twitts {

}

.twitts li {
    list-style-position: inside;
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    text-align: left;   
    margin-top: 2px;
    margin-bottom: 2px;
}

.twitts .handle {
    font-weight: bold;
}

.twitts .handle a {
    text-decoration: none;
}

.twitts .content {
    text-decoration: underline;
}

.twitts .time {
    font-style: italic;
}


