body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#header {
    margin: 50px auto 50px auto;
}

#header h1 {
    text-align: center;
    font-size: 50px;
}

#twitter {
    display:none;
    padding-bottom: 10px;
}

#feed {

}

#feed .refresh {
    display: block;
    padding-top: 20px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    padding-bottom: 20px;
}

.twitts {
    margin-bottom: 10px;
}

.twitts li {
    list-style-position: inside;
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    text-align: left;   
    margin-top: 10px;
}

.twitts li.nth-child(odd) {
    background-color:blue;
}

.twitts li.nth-child(even) {
    background-color:blue;
}

.twitts .handle {
    font-weight: bold;
}

.twitts .handle a {
    text-decoration: none;
    color: black;
}

.twitts .content {
    
}

.twitts .time {
    margin-top: 10px;
    font-style: italic;
    display: block;
    font-size: 12px;
    text-align: right;
}


