body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#header {
    margin-left: auto;
    margin-right: auto;
}

#header h1 {
    text-align: center;
}

#feed {
    
}

.twitts {

}

.twitts .handle {
    font-weight: bold;
}

.twitts .content {
    text-decoration: underline;
}

.twitts .time {
    font-style: italic;
}


